.field {

    background: darkgray;
    border-radius: 1rem;
    height: 460px;
    padding: 1rem;
    margin: 3% 15%;
    box-shadow: 1px 25px 50px 15px grey;
    overflow-y: scroll;
}
.field::-webkit-scrollbar {
    display: none;
}

.field_title {
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    font-family: cursive;
}

.field_desc {
    font-size: x-large;
}
